.item3{  
    @media (max-width:320px) {
        max-width:320px;
        width: 100vw;
        padding: 0;
         }    
    max-width: 327px;
    border:$item_bd;
    &-header{
        font-family: "Montserrat";
        max-width: 100%;
        color: $white;
        display: flex;
        justify-content: center;
        background-color: $deep_blue;
        margin-bottom: 16px;
        padding: 15px 46px;
        border-left: 1px solid rgba(161, 161, 161, 0.5) ;
        border-right: 1px solid rgba(161, 161, 161, 0.5) ;
    }
    &-title{
        display: flex;
        justify-content: center;
        max-width: 141px;
        font-size: $_16px;  
    }
    &-content{
        padding: 0px 15px;
        max-height: 100%;
    }
.list{
    &-item{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        &-text{
            max-width: 237px;
        }
    }
    &-item:nth-last-child(1){
        margin-bottom: 27px;
    }
    &-item::before{
        content: '✔';
        display: inline-block;
        color: $green;
        margin-right: 10px;
    }
}
.type{
  &-name{
   text-align: center;
   font-size: $_15px;
   font-family: Arial;
   font-weight: 700;
   margin-bottom: 4px;
  }
  &-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 14px; 
  }
  &-wrap:last-child{
    margin-bottom: 20px;
  }
  &-price{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family:Arial;
        font-weight: 900;
        color: $green;
        font-size: $_20px;
        margin-right: 5px;
    }
    &-sign{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family:Arial;
        font-weight: 400;
        font-size: $_14px;
        color: $black_2;
      }
     }
 .line{
            display: block;
            background-color:$button;
            width: 238px;
            height: 1px;
            margin: auto;                 
 }
 .list-wrap{
    max-width:315px; 
 }
 .list-length{
    & a:hover{     
        transition: 0.2s;
        color : $button;
    }
    padding: 15px 0px;
    column-count: 2;
   &-item{
       padding-left: 5px;  
       width: 128px;
       text-decoration: underline;
       color: $black_2;
       &:hover{
        text-decoration: none;
       }   
    }
    &-item::before{
        content: url('../images/Vector.png') ;
        display: inline-block;
        color: $green;
        margin-right: 10px;
        padding-top: 3px;
         border-top: 1px dashed rgb(185, 185, 185);
    }
}
}