$white:#FFFFFF;
$green:#0E9A0B;
$black_1:#000000;
$black_2:#282828;
$button:#00BCEB;
$deep_blue:#0D274D;


$bd: 1px solid #00BCEB;
$item_bd:1px solid $deep_blue;


$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_20px:1.25rem;
$_18px: 1.125rem;
$_16px: 1rem;
$_15px: 0.9375rem;
$_14px: 0.875rem;
$_13px: 0.813rem;
